.basket {
  width: 350px;
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .basket {
    position: fixed;
    bottom: 0;
    top: inherit;
    width: 100%;
  }
}

.basket-content {
  box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .basket-content {
    margin: 0;
  }
}

.basket-content > button {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

.basket .disabled {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}

.basket-empty {
  color: #868a8a;
  text-align: center;
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .basket-empty {
    display: none;
  }
}

.basket .results {
  margin: 0 10px;
  padding: 0;
  border-bottom: 1px solid #d1d7d7;
}

@media screen and (max-width: 768px) {
  .basket .results p {
    margin: 0;
  }
}

.basket .results p {
  display: flex;
  align-items: center;
  padding: 0 0 0.2rem;
  color: #868a8a;
}

.basket .results p .title {
  flex: 1 1;
}

.basket .results p .amount {
  width: 85px;
  text-align: right;
}

.basket .total {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 1.2rem 0;
  color: #2e3333;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .basket .total {
    padding: 0 0 0.3rem;
  }
}

.total .title {
  flex: 1 1;
}

.total .amount {
  width: 85px;
  text-align: right;
}
